@inherits SitesByUserBase

@page "/sites-by-users"

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2>Display Sites by User</h2>
            <div class="top-separator">
                <fieldset>
                    <div class="form-group">
                        <label for="users">Users</label>
                        <select class="custom-select" id="users" @bind="SelectedUser">
                            @foreach (var user in UserList)
                            {
                                <option value="@user">@user</option>
                            }
                        </select>
                    </div>
                </fieldset>        
                <input type="button" class="btn btn-primary" value="Query" @onclick="PerformQuery" />        
            </div>
            <div class="top-separator">
                <table class="table table-striped">
                    <thead>
                        <th>Url</th>
                        <th>Date</th>
                        <th>Count</th>
                    </thead>
                    <tbody>
                        @foreach (var site in VisitedSites)
                        {
                            <tr>
                                <td>@site.Url</td>
                                <td>@site.Time</td>
                                <td>
                                    <NavLink href="@site.ClientAddress.Replace(".", "-")">@site.ClientAddress</NavLink>
                                </td>
                                <td>@site.Count</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>