@inherits SitesBase

@page "/sites"

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2>Display Sites</h2>
            <p>Display information about sites visited in the last [30, 60, 90, 120, 180] days</p>
            <div class="top-separator">
                <fieldset>
                    <div class="form-group">
                        <label for="top">Rows</label>
                        <select class="custom-select" id="top" @onchange="TopRowChange">
                            <option selected="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="top">Days</label>
                        <select class="custom-select" id="top" @onchange="LastDaysChange">
                            <option selected="30">30</option>
                            <option value="60">60</option>
                            <option value="90">90</option>
                            <option value="120">120</option>
                            <option value="180">180</option>
                        </select>
                    </div>                    
                </fieldset>                
            </div>
            @if (DisplayErrorMessage)
            {
                <div class="top-separator">
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @ErrorMessage
                    </div>                
                </div>
            }
            <div class="top-separator">
                <table class="table table-striped">
                    <thead>
                        <th>-</th>
                        <th>Url</th>
                        <th>Date</th>
                        <th>Client</th>
                        <th>Request Method</th>
                        <th>Count</th>
                    </thead>
                    <tbody>
                        @foreach (var site in VisitedSites)
                        {
                            var userUrl="sites-by-users/" + site.ClientAddress.Replace(".", "-");
                            
                            <tr>
                                <td><input type="button" class="btn btn-secondary" value="Filter" @onclick="() => AddFilter(site.Url)" /></td>
                                <td>@site.Url</td>
                                <td>@site.Time.ToShortDateString()</td>
                                <td>
                                    <NavLink href="@userUrl">@site.ClientAddress</NavLink>
                                </td>
                                <td>@site.RequestMethod</td>
                                <td>@site.Count</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
