@inherits SitesByUserBase

@page "/sites-by-users"

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2>Display Sites by User</h2>
            <div class="top-separator">
                <fieldset>
                    <div class="form-group">
                        <label for="users">User</label>
                        <select class="custom-select" id="users" @bind="SelectedUser">
                                <option value="">Select user</option>
                            @foreach (var user in UserList)
                            {
                                <option value="@user">@user</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="top">Rows</label>
                        <select class="custom-select" id="top" @bind="TopRows">
                            <option selected="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </fieldset>        
                <input type="button" class="btn btn-primary" value="Query" @onclick="PerformQuery" />        
            </div>
            <div class="top-separator">
                <table class="table table-striped">
                    <thead>
                        <th>Url</th>
                        <th>Date</th>
                        <th>Request Method</th>
                        <th>Count</th>
                    </thead>
                    <tbody>
                        @foreach (var site in VisitedSites)
                        {
                            <tr>
                                <td>@site.Url</td>
                                <td>@site.Time.ToShortDateString()</td>
                                <td>@site.RequestMethod</td>
                                <td>@site.Count</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>