@inherits SitesBase

@page "/sites"

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2>Display Sites</h2>
            <p>Display information about sites visited in the last 30 days</p>
            <div class="top-separator">
                <fieldset>
                    <div class="form-group">
                        <label for="top">Rows</label>
                        <select class="custom-select" id="top" @onchange="TopRowChange">
                            <option selected="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </fieldset>                
            </div>
            <div class="top-separator">
                <table class="table table-striped">
                    <thead>
                        <th>Url</th>
                        <th>Date</th>
                        <th>Client</th>
                        <th>Request Method</th>
                        <th>Count</th>
                    </thead>
                    <tbody>
                        @foreach (var site in VisitedSites)
                        {
                            <tr>
                                <td>@site.Url</td>
                                <td>@site.Time.ToShortDateString()</td>
                                <td>
                                    <NavLink href="@site.ClientAddress.Replace(".", "-")">@site.ClientAddress</NavLink>
                                </td>
                                <td>@site.RequestMethod</td>
                                <td>@site.Count</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
